body {
	padding:0px;
	background-color:#c4c2c2;

}

#container {
	font-family: 'Open Sans', sans-serif;
	width:500px;
	margin-top:0px;
	margin:auto;
}


header {
	background-image:url("../images/header_bg.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center-center;
	height:300px;

}

header h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 400px;
	margin:auto;
	color:white;
	text-align:center;
}

.Relaxr {
	font-size: 24px;
	font-weight: 600;
	color:white;
	width:200px;
	margin-left: 48px;

}

.button {
	font-family: 'Open Sans', sans-serif;
	width: 150px;
	margin:auto;
	background-color:#f9e42e;
	border-radius:5px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

.button p {
	font-weight:600;
	font-size:14px;
	margin: auto;
	width: 80px;
}

/*how do you format something to fit the size of the box inside? */
/*for example - making a div exactlythe size of the paragraph inside*/

.main {
	background-color:white;
}

.main div {
	padding:30px;
	width:270px;
	margin-left:50px;
}

.main h1 {
	font-size:20px;
	font-weight: 600;
	color:#033048;
}

.main p {
	font-weight:300;
	font-size:13px;
	color:#606161;
}

.main ul {
	font-weight: 300;
	font-size:13px;
	color: #606161;
}

.Quote {
	font-family: 'Open Sans',sans-serif;
	font-size:13px;
	font-weight:300;
	font-style:italic;
	background-image: url("../images/testimonial_bg.jpg");
	color:white;
	padding:0px;
	height:220px;
}



.yellow {
	background-color:#f9e42e;
	padding:0px;
	margin:0px;
}

nav p {
	font-family: 'Open Sans',sans-serif;
	font-size:9px;
	font-weight:300;
	padding:0px;
}

footer {
	background-color:#121212;
	color:white;
	padding:0px;
}
