body {
	margin: auto;
	width: 50%;
}

header {
	margin: 10% 0% 1% 0%;
	border: 1px solid red;
	height: 100px;
	width: 98.5%;
	
}

.box-one {
	float: left;
	border: 1px solid orange;
	height: 350px;
	width: 48%;
	margin: 1% 2% 2% 0%;

}

.box-two {
	float: left;
	border: 1px solid red;
	height: 350px;
	width: 48%;
	margin: 1% 0% 2% 0%;
}

.box-three {
	float: left;
	border: 1px solid red;
	height: 150px;
	width: 31%;
	margin: 0% 1% 2% 0%;
}

.box-four {
	float: left;
	border: 1px solid red;
	height: 150px;
	width: 31.5%;
	margin: 0% 1% 2% 1%;
}

.box-five {
	float: left;
	border: 1px solid red;
	height: 150px;
	width: 31%;
	margin: 0% 0% 2% 1%;
}


footer {
	clear: both;
	border: 1px solid purple;
	height: 100px;
	width: 98%;
}