body {
	border-top: 5px solid #222222;
	border-bottom: 5px solid #222222;
	width: 800px;
	position: relative;
	margin: auto;
	margin-top: 15px;
}

header {
	font-family: helvetica;

}

header div p{
	float: left;
	margin: 1px;
	margin-left: 10px;
	margin-top: 20px;
	
}

.Objective p {
	font-family: Times;
	word-spacing: 3px;
	line-height: 120%;
}

.links {
	height: 40px;
	width: 200px;
	position: relative;
	margin: auto;
}

.Name {
	width: 300px;
	margin: auto;
}

.Name h1 {
	width: 240px;
	position: relative;
	margin: auto;

}

.Experience h2 {
	font-family: helvetica;
}


.Portfolio h2 {
	font-family: helvetica;

}

.helvetica {
	font-family: helvetica;
	display:inline;

}

.small {
	font-family: helvetica;
	display: inline;
	font-size: 13px;
}

.text {
	padding: 0px;
	margin: 0px;
}

.Education h2{
	font-family:helvetica;
}



